absl-py==0.14.0
astunparse==1.6.3
beautifulsoup4==4.11.1
brotlipy==0.7.0
bs4==0.0.1
cachetools==4.2.2
certifi==2021.5.30
cffi @ file:///C:/ci/cffi_1625831756778/work
chardet @ file:///C:/ci/chardet_1607706937985/work
clang==5.0
conda==4.10.3
conda-package-handling @ file:///C:/ci/conda-package-handling_1618262410900/work
cryptography @ file:///C:/ci/cryptography_1616769504165/work
cycler==0.11.0
flatbuffers==1.12
fonttools==4.29.1
gast==0.4.0
google-auth==1.35.0
google-auth-oauthlib==0.4.6
google-pasta==0.2.0
grpcio==1.40.0
h5py==3.1.0
idna @ file:///home/linux1/recipes/ci/idna_1610986105248/work
keras==2.6.0
Keras-Preprocessing==1.1.2
kiwisolver==1.3.2
kneed==0.7.0
Markdown==3.3.4
matplotlib==3.5.1
menuinst==1.4.16
mtcnn==0.1.1
numpy==1.19.5
oauthlib==3.1.1
opencv-python==4.5.3.56
opt-einsum==3.3.0
packaging==21.3
Pillow==9.0.1
protobuf==3.18.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
pydotplus==2.0.2
pyOpenSSL @ file:///tmp/build/80754af9/pyopenssl_1608057966937/work
pyparsing==3.0.7
PySocks @ file:///C:/ci/pysocks_1605307512533/work
python-dateutil==2.8.2
pywin32==228
requests @ file:///tmp/build/80754af9/requests_1608241421344/work
requests-oauthlib==1.3.0
rsa==4.7.2
ruamel-yaml-conda @ file:///C:/ci/ruamel_yaml_1616016898638/work
scipy==1.8.0
six==1.15.0
soupsieve==2.3.2.post1
tensorboard==2.6.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.0
tensorflow==2.6.0
tensorflow-estimator==2.6.0
termcolor==1.1.0
tqdm @ file:///tmp/build/80754af9/tqdm_1625563689033/work
typing-extensions==3.7.4.3
urllib3 @ file:///tmp/build/80754af9/urllib3_1625084269274/work
Werkzeug==2.0.1
win-inet-pton @ file:///C:/ci/win_inet_pton_1605306162074/work
wincertstore==0.2
wrapt==1.12.1
